header {
    font-size: 40px;
    color: blue;
    font-family: 'Alex Brush', cursive;
    text-align: center;
    justify-content: space-around;
    margin-top: -20px;
}
nav{
    font-size: 15px;
    text-align: center;
    display: inline;
    margin-left: 20px;
    grid-column: 1/1;
    grid-row: 1/-1;
    margin-top: 10px;
   
}

article{
    
    font-size: 25px;
    font-family: 'Alex Brush', cursive;
    text-align: center;
    margin-top: -20px;

}

body{
    display: grid;
    grid-template-columns:15% 1fr ;
    grid-template-rows:20% 1fr;
    grid-gap: 10px;
    margin: 10px;
    height: 100vh;
    background-image: url(../Images/0.jpg);
    background-size: cover;
    grid-template-areas: 
    "nav header"
    "arcitkle arcitkle";

    
    
}

#pheader{
    grid-area: header;
    grid-row: 1/-1;
    grid-column: 2/-1;
}

#pnav{
    grid-area: nav;
}

#particle{
    grid-area: arctikle;
    grid-column: 2/-1;
    grid-row: 2/-1;
     
}

.menu-icon:hover{ 
    font-size: 35px; 
}


ul {
    visibility: hidden;
    display: block;
    right: 20px;
    top: 60px;
    border-radius: 4px;
    padding: 20px;
    opacity: 0;
    transition: all 1s ease;
    
}

li {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

.menu-icon {
    display: block;
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    background: url(../Images/menu-icon.png);
    margin-top: 20px;
}


#menu-button{
    display: none ;
}

#menu-button:checked ~ ul{
    visibility: visible;
    opacity: 1;
}