header {
    font-size: 40px;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    justify-content: space-around;
    margin-top: -20px;
}
nav{
    font-size: 30px;
    text-align: center;
   
}

article{
    
    font-size: 25px;
    font-family: 'Alex Brush', cursive;
    text-align: center;
    margin-top: -20px;

}

body{
    display: grid;
    grid-template-columns:5% 1fr 1fr;
    grid-template-rows:15% 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    height: 100vh;
    grid-template-areas: 
    "nav header header"
    "sec sec description"
    "rating price" ;   
}

#pnav{
    grid-area: nav;
    grid-column: 1/1;
    grid-row: 1/1;
}

#pheader{
    grid-area: header;
    grid-row: 1/1;
    grid-column: 2/3;
    text-align: center;
}

#psec{
    grid-area: sec ;
    grid-column: 2/2;
    grid-row: 2/2;
    justify-content: space-around;
     
}
#Description{
    grid-area: description;
    grid-column:3/3;
    grid-row:2/3;
    text-align: center;
    border-style: double;
}

#rating{
    grid-area: rating;
    grid-column:2/2;
    grid-row:3/3;
    
}
#Price{
    grid-area: price;
    grid-column: 3/3;
    grid-row: 3/3;
    text-align: center;
}

nav:hover{
    font-size: 35px; 
}

@media screen and (max-width:600px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 80px 50px 1fr 1fr 20px 20px;
        grid-template-areas: "header""nav""sec""description""rating""price";
    }
}